<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout}">

	<body>
		<div layout:fragment="content">   

	        <div>
	            <h1>Vamos comer!!!</h1>
	            <form>
	                <fieldset id="fieldsetFiltro"><br>
	                    <input type="text" name="busca" placeholder="Buscar por...">
	                    <input type="button" value="Procurar" placeholder="Procurar">
	                </fieldset>
	            </form>
	        </div><br><br>
	
	        <div id="divCategoriaGeral">
	            <div id="divCategoriaOpcao">
	                <a href="#">
	                    <img src="static/imagens/sys_categoriaChurrasco.png" id="imgCategoriaComida"><br>
	                    <span>Churrasco</span>
	                </a>
	            </div>
	            <div id="divCategoriaOpcao">
	                <a href="#">
	                    <img src="static/imagens/sys_categoriaHamburguer.png" id="imgCategoriaComida"><br>
	                    <span>Hamburguer</span>
	                </a>
	            </div>
	            <div id="divCategoriaOpcao">
	                <a href="#">
	                    <img src="static/imagens/sys_categoriaPizza.png" id="imgCategoriaComida"><br>
	                    <span>Pizza</span>
	                </a>
	            </div>
	            <div id="divCategoriaOpcao">
	                <a href="#">
	                    <img src="static/imagens/sys_categoriaSalada.png" id="imgCategoriaComida"><br>
	                    <span>Salada</span>
	                </a>
	            </div>
	            <div id="divCategoriaOpcao">
	                <a href="#">
	                    <img src="static/imagens/sys_categoriaSobremesa.png"><br>
	                    <span>Sobremesa</span>
	                </a>
	            </div>
	        </div>
	        
<!-- 	        <div> -->
<!-- 	            <h1>Cupons disponíveis</h1> -->
<!-- 	            <input type="button" value="10% hambuerguer"><br> -->
<!-- 	            <input type="button" value="15% pizza"><br> -->
<!-- 	        </div> -->
	        
	        <div>
	            <h1>Últimos pedidos</h1>
	            <input type="button" value="12345 Gilson Lanches"><br>
	            <input type="button" value="554754 Beto Lanches"><br>
	            <input type="button" value="554754 Rico's Lanches"><br>
	        </div>
	        
	        <div>
	            <h1>Conta</h1>
	            <input type="button" value="Meus dados" th:onclick="'location.href=\'' + @{/cliente/edit} + '\';'"><br>
	            <input type="button" value="Sair" th:onclick="'location.href=\'' + @{/logout} + '\';'"><br>
	        </div>
        </div>
    </body>    
</html>
